.filters-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.filters-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.stock-sector-cont Button {
  margin-right: 0.5rem;
}

.stock-rating-cont Button {
  margin-right: 0.5rem;
}
